<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<div class="col-md-4 left nopadding">
				<div class="left-box-1">
					<div class="img">
						<%= image_tag("products/a1.gif") %>
						<div class="overlay overlay-pink" >
							<a href=<%=contacts_path%> class="expand">3D</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="left-box-2 box">
					<div class="img">
						<%= image_tag("products/a2.jpg")%>
						<div class="overlay overlay-lightgray">
							<a href=<%=contacts_path%> class="expand">PROTOTYPE</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="left-box-btm box">
					<div class="img">
						<%= image_tag("products/a3.jpg", id: 'productBannerDim1') %>
						<div class="overlay overlay-darkgray">
							<a href=<%=contacts_path%> class="expand">POSTER</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mid nopadding">
				<div class="mid-box-1 box">
					<div class="img">
						<%= image_tag("products/a4.jpg", id: 'productBannerDim2') %>
						<div class="overlay overlay-lightblue">
							<a href=<%=contacts_path%> class="expand">PACKAGE</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="left-box-1">
					<div class="img">
						<%= image_tag("products/a5.gif") %>
						<div class="overlay overlay-pink">
							<a href=<%=contacts_path%> class="expand">RENDERING</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="left-box-1">
					<div class="img">
						<%= image_tag("products/a6.jpg") %>
						<div class="overlay overlay-lightgray">
							<a href=<%=contacts_path%> class="expand">RETRO STYLE</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 right nopadding">
				<div class="right-box-1 box">
					<div class="img">
						<%= image_tag("products/a7.jpg", id: 'productBannerDim3') %>
						<div class="overlay overlay-lightgray">
							<a href=<%=contacts_path%> class="expand">CORPORATE IDENTITY</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="right-box-2 box">
					<div class="img">
						<%= image_tag("products/a8.jpg", id: 'productBannerDim4') %>
						<div class="overlay overlay-darkgray">
							<a href=<%=contacts_path%> class="expand">GRAPHIC</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="right-box-3 box">
					<div class="img">
						<%= image_tag("products/a9.jpg") %>
						<div class="overlay overlay-blue">
							<a href=<%=contacts_path%> class="expand">LOGO</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
