<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<div class="col-md-4 left nopadding">
				<div class="left-box-1">
					<div class="img">
						<%= image_tag("products/l1.jpg") %>
						<div class="overlay">
							<a href=<%=home_website_path%> class="expand expand-compass">INFOGRAPHICS</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="left-box-2 box">
					<div class="img">
						<%= image_tag("products/l2.jpg", id: 'productBannerDim5')%>
						<div class="overlay">
							<a href=<%=home_website_path%> class="expand expand-compass">3D ICONS</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="left-box-btm box">
					<div class="img">
						<%= image_tag("products/l3.jpg") %>
						<div class="overlay">
							<a href=<%=home_website_path%> class="expand expand-compass">WEB-BANNER</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mid nopadding">
				<div class="mid-box-1 box">
					<div class="img">
						<%= image_tag("products/l4.jpg") %>
						<div class="overlay">
							<a href=<%=home_website_path%> class="expand expand-compass">POSTERS</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
                <div class="left-box-1 box">
                    <div class="img">
                      <%= image_tag("products/l5.png") %>
                      <div class="overlay overlay-pink" >
                        <a href=<%=home_website_path%> class="expand expand-compass">ADVERTISEMENT</a>
                        <a class="close-overlay hidden">x</a>
                      </div>
                    </div>
                </div>
                <div class="left-box-2 box">
                    <div class="img">
                      <%= image_tag("products/l6.jpg")%>
                      <div class="overlay overlay-lightgray">
                        <a href=<%=home_website_path%> class="expand expand-compass">BROCHURE</a>
                        <a class="close-overlay hidden">x</a>
                      </div>
                    </div>
                </div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 right nopadding">
				<div class="right-box-1 box">
					<div class="img">
						<%= image_tag("products/l9.jpg") %>
						<div class="overlay">
							<a href=<%=home_website_path%> class="expand expand-compass">MOBILE-SITE</a>
							<a class="close-overlay hidden">x</a>
						</div>
					</div>
				</div>
                <div class="right-box-1 box">
                    <div class="img">
                        <%= image_tag("products/l8.jpg") %>
                        <div class="overlay">
                            <a href=<%=home_website_path%> class="expand expand-compass">WEBSITE UI</a>
                            <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
