<div class="core-team">
  <div class="row">
    <div class="col-md-12">
      <h3 class="head">Core Team in CEE Region <span>powered by</span>
        <a href="http://goldmanventure.com" >
          <%= image_tag 'main/goldman.png', width: '162', height: '61', class:'wp12' %>
        </a>
      </h3>
    </div>
    <div class="col-md-6 text-right">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/olya.png' %>
        <h3 class="caption">Olya</h3>
        <p>Senior Designer</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/yulia.png' %>
        <h3 class="caption">Yulia</h3>
        <p>Senior Creative</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/marta.png' %>
        <h3 class="caption">Marta</h3>
        <p>Developer / Service Manager</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/ivan.png' %>
        <h3 class="caption">Ivan</h3>
        <p>Senior Consultant / Web Development</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/daniel.png' %>
        <h3 class="caption">Daniel</h3>
        <p>Senior Consultant (Hungary)</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/alma.png' %>
        <h3 class="caption">Alma</h3>
        <p>Developer / Senior IT Consultant (Hungary)</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/tetiana.png' %>
        <h3 class="caption">Tetiana</h3>
        <p>Director / Media Producer</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/james.png' %>
        <h3 class="caption">James</h3>
        <p>Co-Founder / GM</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag 'team/thomas.png' %>
        <h3 class="caption">Thomas</h3>
        <p>Regional Sales (Norway)</p>
      </div>
    </div>
  </div>

</div>