<div id="homepage_header">

  <div class="otherpage_background" id="contact_background"></div>
  <a href=<%= root_path %>><div id="logo"></div></a>
  <div class="container otherpage_background_fix ">

  <!-- Logo -->
    <!--<div id="logoText">-->
      <!--<h1><a href=<%= root_path %>>BC Studio</a></h1>-->
    <!--</div>-->
  
  <!-- Nav -->
    <!--<nav id="nav">-->
      <!--<ul>-->
        <!--&lt;!&ndash; <li class="active"><a href="index.html">Homepage</a></li> &ndash;&gt;-->
        <!--<li><%#= link_to "Graphic Design", home_design_path%></li>-->
    	<!--<li><%#= link_to "MKT Creatives", home_creatives_path%></li>-->
        <!--<li><%#= link_to "Website", home_website_path%></li>-->
        <!--<li><%#= link_to "Consultant", home_consultant_path%></li>-->
        <!--<li><%#= link_to "Contact", contacts_path%></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</div>
<nav id="navGorizontal">
  <ul>
    <!-- <li class="active"><a href="index.html">Homepage</a></li> -->
    <li><%= link_to "Graphic Design", home_design_path%></li>
    <li><%= link_to "Creative Marketing", home_creatives_path%></li>
    <li><%= link_to "Web Design", home_website_path%></li>
    <li><%= link_to "Consultant", home_consultant_path%></li>
    <li><%= link_to "Contact", contacts_path%></li>
  </ul>
</nav>
<div>
  <% flash.each do |key, value| %>
    <div class="message">
        <%= value %>
    </div>
  <% end %>
</div>